@model IEnumerable<_2301B2TempEmbedding.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>All Items</h1>

<p>
    <a class="btn btn-success text-light" asp-action="Create">Create New</a>
</p>
<table class="table bg-primary table-lg text-capitalize text-center text-dark text-uppercase font-monospace fw-bold ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Category Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img class="rounded-circle" src="@item.Image" alt="" style="width: 40px; height: 40px;">
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cat.CatName)
                </td>
                <td>
                    <a class="btn btn-warning text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a class="btn btn-danger text-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
